*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    /* font-family: 'Montserrat', sans-serif;
    font-family: 'Ubuntu', sans-serif; */
}


:root {

    --back-color: #720602;
    --back-white: #fff;
    --overlay:#8f8f8f;
    --hover:#8b4242;
}


.title {
    background-color: var(--back-color);
    color: var(--back-white);
    text-align: center;
}

.container-fluid {
    padding: 5% 15%;
}

/* ------------------navbar---------------------- */
.navbar {
    padding-bottom: 4.5rem;
}
.navbar-brand {
    font-size: 2.5rem;
    font-weight: 700 ;
    font-family: 'Ubuntu', sans-serif;  
}
.nav-item{
    padding: 0 18px;
}
.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight:300;
}

/* ------------------title section--------------------- */
.title h1 {
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    font-weight: 900;
    padding-top: 10%;
}


/* ------------------download button---------------------- */

.download-button {
    margin: 5% 3% 5% 0;
    
}

/* ------------------img title---------------------- */
.title .img-title{ 
    width: 250px;
}


/* ------------------FEATURES---------------------- */
.features {
    background-color: var(--back-white);
 
    
}

.features .feature-box {
    text-align: center;
    padding: 5% 4%;}
h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 1.5rem;
}
.feature-box p {
    font-family: 'Montserrat', sans-serif;
    color:var(--overlay);
    
}
.feature-box i {
margin-bottom: 30px;
color: var(--hover);

    
}

.feature-box i:hover {
    margin-bottom: 30px;
    color: var(--back-color);
  
 }

 /* ------------------TESTIMONIALS---------------------- */

.testimonials {
    
    text-align: center;
    background-color: var(--back-color);
    color: var(--back-white);
}
.testimonials:hover{
    color: var(--hover);
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 2.5rem;
    line-height: 1.5;
}
.testimonials img {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
.carousel-item {
    padding: 7% 15%;
}

 /* ------------------PRESS---------------------- */
 .press {
     background-color: var(--back-color);
     text-align: center;
     padding-bottom: 8%;
 }
 .press img {
     width: 15%;
     margin: 20px 20px 0;
 }

/* ------------------CARDS---------------------- */

.pricing{
    padding: 60px;
    text-align: center;
    color: black;
}
.pricing-column {
    padding: 3% 2%;
}
.card-header, .card-body {
    background-color: var(--back-white);
    border: 0.5px solid var(--back-color);
    
}
.pricing h3 {
    font-size: 1.7rem;
   
}
.pricing .btn-dark {
    background-color:  var(--back-color);
}
.btn-outline-dark:hover{
    background-color:  var(--back-color);
}

/* ------------------cta---------------------- */

.cta {
    background-color: var(--back-color);
    color: var(--back-white);
    text-align: center;
    padding: 5% 20%;
}
.cta h2 {
    margin-bottom: 50px;
    font-size: 2.5rem;
}
.cta .download-button {
margin: 10px 10px;
}

/* ------------------FOOTER---------------------- */
.footer {
    margin: 100px;
    text-align: center;
    
   
}
.icons-footer a {
    margin: 1% 10px;
    color: black;
    font-size: 1.5rem;

}
.icons-footer i:hover {
    color: var(--back-color);

}
.footer p {
margin-top: 20px;
font-size: 1rem;
}